In [1]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table
import psycopg2
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [4]:
csv_1 = '2016poverty.csv'
poverty_2016 = pd.read_csv(csv_1)

In [5]:
poverty_2016

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total,Footnotes
0,United States,0.100,0.238,0.210,0.120,0.273,0.174,0.141,1.0
1,Alabama,0.121,0.279,0.319,0.118,0.126,0.251,0.173,NaN
2,Alaska,0.068,NaN,0.178,NaN,0.274,0.104,0.106,NaN
3,Arizona,0.110,0.211,0.238,0.136,0.360,0.155,0.165,NaN
4,Arkansas,0.138,0.288,0.255,0.129,0.263,0.254,0.172,NaN
5,California,0.096,0.223,0.190,0.113,0.226,0.132,0.144,NaN
6,Colorado,0.081,0.190,0.172,0.116,0.223,0.152,0.108,NaN
7,Connecticut,0.058,0.182,0.194,0.096,NaN,0.137,0.095,NaN
8,Delaware,0.080,0.151,0.287,0.085,NaN,0.173,0.117,NaN
9,District of Columbia,0.076,0.281,0.217,0.140,NaN,NaN,0.191,NaN
10,Florida,0.106,0.227,0.190,0.123,0.225,0.193,0.148,NaN
11,Georgia,0.107,0.223,0.240,0.123,0.262,0.192,0.158,NaN
12,Hawaii,0.082,NaN,0.109,0.100,NaN,0.064,0.090,NaN
13,Idaho,0.127,NaN,0.243,NaN,0.243,0.196,0.144,NaN
14,Illinois,0.089,0.268,0.167,0.111,0.132,0.185,0.130,NaN
15,Indiana,0.111,0.279,0.242,0.226,0.203,0.226,0.140,NaN
16,Iowa,0.096,0.291,0.243,0.143,0.329,0.198,0.114,NaN
17,Kansas,0.100,0.275,0.182,0.118,0.150,0.143,0.121,NaN
18,Kentucky,0.168,0.313,0.327,0.156,NaN,0.255,0.186,NaN
19,Louisiana,0.126,0.340,0.242,0.169,0.302,0.241,0.203,NaN
20,Maine,0.120,0.490,0.134,NaN,0.303,0.270,0.130,NaN
21,Maryland,0.069,0.128,0.127,0.077,NaN,0.120,0.094,NaN
22,Massachusetts,0.067,0.189,0.264,0.142,0.213,0.151,0.105,NaN
23,Michigan,0.114,0.291,0.226,0.201,0.193,0.222,0.149,NaN
24,Minnesota,0.071,0.286,0.192,0.141,0.284,0.187,0.098,NaN
25,Mississippi,0.129,0.319,0.263,0.103,0.448,0.339,0.208,NaN
26,Missouri,0.118,0.230,0.237,0.153,0.212,0.241,0.139,NaN
27,Montana,0.119,NaN,0.143,NaN,0.241,0.209,0.131,NaN
28,Nebraska,0.087,0.281,0.246,0.197,0.320,NaN,0.117,NaN
29,Nevada,0.095,0.214,0.189,0.107,0.310,0.129,0.136,NaN
30,New Hampshire,0.063,NaN,0.150,NaN,NaN,0.203,0.069,NaN
31,New Jersey,0.064,0.171,0.183,0.064,0.273,0.120,0.103,NaN
32,New Mexico,0.124,0.213,0.241,NaN,0.325,0.211,0.201,NaN
33,New York,0.096,0.205,0.243,0.168,0.234,0.184,0.148,NaN
34,North Carolina,0.110,0.244,0.278,0.113,0.236,0.210,0.157,NaN
35,North Dakota,0.085,NaN,0.272,NaN,0.383,NaN,0.116,NaN
36,Ohio,0.110,0.306,0.259,0.154,0.303,0.261,0.144,NaN
37,Oklahoma,0.122,0.288,0.259,0.157,0.228,0.198,0.161,NaN
38,Oregon,0.111,0.257,0.231,0.149,0.242,0.177,0.134,NaN
39,Pennsylvania,0.093,0.264,0.283,0.133,0.345,0.206,0.128,NaN
40,Rhode Island,0.095,0.205,0.232,0.105,NaN,0.264,0.127,NaN
41,South Carolina,0.101,0.244,0.262,0.107,NaN,0.293,0.152,NaN
42,South Dakota,0.081,NaN,0.306,NaN,0.555,0.328,0.138,NaN
43,Tennessee,0.125,0.261,0.287,0.104,NaN,0.206,0.157,NaN
44,Texas,0.089,0.204,0.223,0.108,0.129,0.149,0.157,NaN
45,Utah,0.082,0.392,0.180,0.145,0.363,0.124,0.104,NaN
46,Vermont,0.111,NaN,NaN,NaN,NaN,NaN,0.112,NaN
47,Virginia,0.086,0.182,0.153,0.072,0.099,0.146,0.111,NaN
48,Washington,0.092,0.220,0.195,0.096,0.242,0.148,0.114,NaN
49,West Virginia,0.176,0.245,0.267,NaN,NaN,0.315,0.183,NaN
50,Wisconsin,0.088,0.313,0.242,0.186,0.271,0.198,0.118,NaN
51,Wyoming,0.105,NaN,0.178,NaN,0.216,NaN,0.117,NaN
52,Puerto Rico,0.375,0.452,0.442,NaN,NaN,0.406,0.441,NaN

In [11]:
poverty_2016 = poverty_2016.loc[:51]

In [12]:
poverty_2016 = poverty_2016.drop(columns=['Footnotes'])

In [13]:
poverty_2016 = poverty_2016.fillna(0)
poverty_2016.head(10)

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total
0,United States,0.100,0.238,0.210,0.120,0.273,0.174,0.141
1,Alabama,0.121,0.279,0.319,0.118,0.126,0.251,0.173
2,Alaska,0.068,0.000,0.178,0.000,0.274,0.104,0.106
3,Arizona,0.110,0.211,0.238,0.136,0.360,0.155,0.165
4,Arkansas,0.138,0.288,0.255,0.129,0.263,0.254,0.172
5,California,0.096,0.223,0.190,0.113,0.226,0.132,0.144
6,Colorado,0.081,0.190,0.172,0.116,0.223,0.152,0.108
7,Connecticut,0.058,0.182,0.194,0.096,0.000,0.137,0.095
8,Delaware,0.080,0.151,0.287,0.085,0.000,0.173,0.117
9,District of Columbia,0.076,0.281,0.217,0.140,0.000,0.000,0.191

In [14]:
csv_2 = '2017poverty.csv'
poverty_2017 = pd.read_csv(csv_2)
poverty_2017

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total,Footnotes
0,United States,0.096,0.229,0.193,0.112,0.262,0.159,0.134,1.0
1,Alabama,0.117,0.269,0.306,0.193,NaN,0.239,0.168,NaN
2,Alaska,0.083,NaN,NaN,NaN,0.246,0.112,0.117,NaN
3,Arizona,0.101,0.230,0.197,0.109,0.360,0.143,0.147,NaN
4,Arkansas,0.130,0.278,0.237,0.150,0.284,0.163,0.162,NaN
5,California,0.089,0.204,0.174,0.103,0.177,0.121,0.132,NaN
6,Colorado,0.083,0.136,0.163,0.086,0.128,0.122,0.103,NaN
7,Connecticut,0.058,0.147,0.204,0.088,NaN,0.119,0.094,NaN
8,Delaware,0.094,0.190,0.202,0.123,NaN,0.190,0.129,NaN
9,District of Columbia,0.059,0.249,0.154,0.175,NaN,NaN,0.164,NaN
10,Florida,0.100,0.217,0.177,0.135,0.189,0.166,0.140,NaN
11,Georgia,0.099,0.218,0.238,0.097,0.171,0.206,0.152,NaN
12,Hawaii,0.102,NaN,0.188,0.095,NaN,0.092,0.106,NaN
13,Idaho,0.119,0.602,0.188,0.157,0.201,0.124,0.132,NaN
14,Illinois,0.089,0.261,0.152,0.114,0.185,0.172,0.127,NaN
15,Indiana,0.110,0.261,0.214,0.170,0.167,0.229,0.135,NaN
16,Iowa,0.087,0.329,0.143,0.144,NaN,0.183,0.102,NaN
17,Kansas,0.098,0.279,0.167,0.161,0.194,0.160,0.120,NaN
18,Kentucky,0.162,0.249,0.260,0.160,NaN,0.239,0.174,NaN
19,Louisiana,0.122,0.337,0.245,0.167,0.245,0.210,0.200,NaN
20,Maine,0.106,NaN,0.194,NaN,0.369,0.213,0.114,NaN
21,Maryland,0.064,0.134,0.140,0.071,NaN,0.120,0.094,NaN
22,Massachusetts,0.067,0.164,0.253,0.159,NaN,0.140,0.104,NaN
23,Michigan,0.109,0.297,0.211,0.094,0.152,0.223,0.142,NaN
24,Minnesota,0.070,0.279,0.234,0.127,0.268,0.121,0.098,NaN
25,Mississippi,0.119,0.313,0.179,0.164,0.390,0.256,0.197,NaN
26,Missouri,0.112,0.237,0.173,0.202,0.159,0.197,0.133,NaN
27,Montana,0.107,NaN,0.226,NaN,0.274,0.205,0.126,NaN
28,Nebraska,0.077,0.275,0.211,0.207,0.202,0.188,0.107,NaN
29,Nevada,0.091,0.295,0.157,0.103,0.268,0.114,0.131,NaN
30,New Hampshire,0.070,0.210,NaN,0.091,NaN,NaN,0.075,NaN
31,New Jersey,0.056,0.178,0.173,0.065,NaN,0.109,0.097,NaN
32,New Mexico,0.118,0.241,0.232,NaN,0.338,0.205,0.196,NaN
33,New York,0.093,0.208,0.217,0.149,0.277,0.158,0.140,NaN
34,North Carolina,0.104,0.217,0.276,0.133,0.253,0.205,0.149,NaN
35,North Dakota,0.080,NaN,0.169,NaN,0.329,0.196,0.098,NaN
36,Ohio,0.106,0.284,0.265,0.138,0.308,0.260,0.139,NaN
37,Oklahoma,0.123,0.258,0.229,0.098,0.205,0.188,0.154,NaN
38,Oregon,0.117,0.263,0.189,0.136,0.245,0.159,0.132,NaN
39,Pennsylvania,0.091,0.253,0.279,0.140,0.323,0.178,0.125,NaN
40,Rhode Island,0.080,0.222,0.241,0.140,NaN,0.142,0.117,NaN
41,South Carolina,0.105,0.243,0.272,0.137,0.246,0.234,0.154,NaN
42,South Dakota,0.079,NaN,0.160,NaN,0.532,NaN,0.122,NaN
43,Tennessee,0.123,0.242,0.243,0.117,0.216,0.209,0.151,NaN
44,Texas,0.085,0.190,0.204,0.099,0.178,0.129,0.146,NaN
45,Utah,0.080,0.196,0.157,0.131,0.288,0.109,0.096,NaN
46,Vermont,0.108,NaN,NaN,NaN,NaN,NaN,0.111,NaN
47,Virginia,0.082,0.180,0.123,0.068,NaN,0.135,0.105,NaN
48,Washington,0.088,0.201,0.211,0.097,0.291,0.126,0.112,NaN
49,West Virginia,0.184,0.305,0.264,NaN,0.553,0.285,0.191,NaN
50,Wisconsin,0.083,0.292,0.205,0.142,0.266,0.209,0.109,NaN
51,Wyoming,0.101,NaN,0.214,NaN,0.283,0.226,0.118,NaN
52,Puerto Rico,0.311,NaN,0.446,NaN,NaN,NaN,0.445,NaN

In [15]:
poverty_2017 = poverty_2017.loc[:51]
poverty_2017 = poverty_2017.drop(columns=['Footnotes'])
poverty_2017 = poverty_2017.fillna(0)
poverty_2017.head(10)

,Location,White,Black,Hispanic,Asian/Native Hawaiian and Pacific Islander,American Indian/Alaska Native,Multiple Races,Total
0,United States,0.096,0.229,0.193,0.112,0.262,0.159,0.134
1,Alabama,0.117,0.269,0.306,0.193,0.000,0.239,0.168
2,Alaska,0.083,0.000,0.000,0.000,0.246,0.112,0.117
3,Arizona,0.101,0.230,0.197,0.109,0.360,0.143,0.147
4,Arkansas,0.130,0.278,0.237,0.150,0.284,0.163,0.162
5,California,0.089,0.204,0.174,0.103,0.177,0.121,0.132
6,Colorado,0.083,0.136,0.163,0.086,0.128,0.122,0.103
7,Connecticut,0.058,0.147,0.204,0.088,0.000,0.119,0.094
8,Delaware,0.094,0.190,0.202,0.123,0.000,0.190,0.129
9,District of Columbia,0.059,0.249,0.154,0.175,0.000,0.000,0.164

In [16]:
csv_3 = 'population.csv'
population = pd.read_csv(csv_3)
population

,rank,State,Pop,Growth,Pop2018,Pop2010,growthSince2010,Percent,density
0,1,California,39613493,0.0038,39461588,37319502,0.0615,0.1184,254.2929
1,2,Texas,29730311,0.0385,28628666,25241971,0.1778,0.0889,113.8081
2,3,Florida,21944577,0.0330,21244317,18845537,0.1644,0.0656,409.2229
3,4,New York,19299981,-0.0118,19530351,19399878,-0.0051,0.0577,409.5400
4,5,Pennsylvania,12804123,0.0003,12800922,12711160,0.0073,0.0383,286.1704
5,6,Illinois,12569321,-0.0121,12723071,12840503,-0.0211,0.0376,226.3967
6,7,Ohio,11714618,0.0033,11676341,11539336,0.0152,0.0350,286.6944
7,8,Georgia,10830007,0.0303,10511131,9711881,0.1151,0.0324,188.3054
8,9,North Carolina,10701022,0.0308,10381615,9574323,0.1177,0.0320,220.1041
9,10,Michigan,9992427,0.0008,9984072,9877510,0.0116,0.0299,176.7351
10,11,New Jersey,8874520,-0.0013,8886025,8799446,0.0085,0.0265,1206.7609
11,12,Virginia,8603985,0.0121,8501286,8023699,0.0723,0.0257,217.8776
12,13,Washington,7796941,0.0363,7523869,6742830,0.1563,0.0233,117.3249
13,14,Arizona,7520103,0.0506,7158024,6407172,0.1737,0.0225,66.2016
14,15,Tennessee,6944260,0.0255,6771631,6355311,0.0927,0.0208,168.4069
15,16,Massachusetts,6912239,0.0043,6882635,6566307,0.0527,0.0207,886.1845
16,17,Indiana,6805663,0.0165,6695497,6490432,0.0486,0.0203,189.9644
17,18,Missouri,6169038,0.0077,6121623,5995974,0.0289,0.0184,89.7419
18,19,Maryland,6065436,0.0049,6035802,5788645,0.0478,0.0181,624.8518
19,20,Colorado,5893634,0.0356,5691287,5047349,0.1677,0.0176,56.8653
20,21,Wisconsin,5852490,0.0078,5807406,5690475,0.0285,0.0175,108.0633
21,22,Minnesota,5706398,0.0179,5606249,5310828,0.0745,0.0171,71.6641
22,23,South Carolina,5277830,0.0381,5084156,4635649,0.1385,0.0158,175.5707
23,24,Alabama,4934193,0.0095,4887681,4785437,0.0311,0.0147,97.4271
24,25,Louisiana,4627002,-0.0070,4659690,4544532,0.0181,0.0138,107.0966
25,26,Kentucky,4480713,0.0044,4461153,4348181,0.0305,0.0134,113.4760
26,27,Oregon,4289439,0.0257,4181886,3837491,0.1178,0.0128,44.6872
27,28,Oklahoma,3990443,0.0127,3940235,3759944,0.0613,0.0119,58.1740
28,29,Connecticut,3552821,-0.0052,3571520,3579114,-0.0073,0.0106,733.7507
29,30,Utah,3310774,0.0499,3153550,2775332,0.1929,0.0099,40.2918
30,31,Puerto Rico,3194374,0.0003,3193354,3721525,-0.1416,0.0095,923.4964
31,32,Nevada,3185786,0.0523,3027341,2702405,0.1789,0.0095,29.0195
32,33,Iowa,3167974,0.0061,3148618,3050745,0.0384,0.0095,56.7158
33,34,Arkansas,3033946,0.0080,3009733,2921964,0.0383,0.0091,58.3059
34,35,Mississippi,2966407,-0.0049,2981020,2970548,-0.0014,0.0089,63.2186
35,36,Kansas,2917224,0.0020,2911359,2858190,0.0207,0.0087,35.6808
36,37,New Mexico,2105005,0.0059,2092741,2064552,0.0196,0.0063,17.3540
37,38,Nebraska,1951996,0.0137,1925614,1829542,0.0669,0.0058,25.4087
38,39,Idaho,1860123,0.0626,1750536,1570746,0.1842,0.0056,22.5079
39,40,West Virginia,1767859,-0.0202,1804291,1854239,-0.0466,0.0053,73.5443
40,41,Hawaii,1406430,-0.0100,1420593,1363963,0.0311,0.0042,218.9678
41,42,New Hampshire,1372203,0.0138,1353465,1316762,0.0421,0.0041,153.2674
42,43,Maine,1354522,0.0115,1339057,1327629,0.0203,0.0040,43.9167
43,44,Montana,1085004,0.0229,1060665,990697,0.0952,0.0032,7.4547
44,45,Rhode Island,1061509,0.0030,1058287,1053959,0.0072,0.0032,1026.6044
45,46,Delaware,990334,0.0257,965479,899593,0.1009,0.0030,508.1242
46,47,South Dakota,896581,0.0204,878698,816166,0.0985,0.0027,11.8265
47,48,North Dakota,770026,0.0158,758080,674715,0.1413,0.0023,11.1596
48,49,Alaska,724357,-0.0147,735139,713910,0.0146,0.0022,1.2694
49,50,District of Columbia,714153,0.0180,701547,605226,0.1800,0.0021,11707.4262
50,51,Vermont,623251,-0.0018,624358,625879,-0.0042,0.0019,67.6197
51,52,Wyoming,581075,0.0060,577601,564487,0.0294,0.0017,5.9847

In [17]:
population_df = population[['rank', 'State', 'Pop2018', 'density']]
population_df = population_df.rename(columns={'State': 'state', 'Pop2018': 'population', 'density': 'density_per_sq_mi'})

In [19]:
population_df.head()

   rank         state  population  density_per_sq_mi
0     1    California    39461588           254.2929
1     2         Texas    28628666           113.8081
2     3       Florida    21244317           409.2229
3     4      New York    19530351           409.5400
4     5  Pennsylvania    12800922           286.1704